<nav class="navbar navbar-light nav-tech">
    Tech And Solve
</nav>


<div class="col-sm-12 text-center">
    <div class="welcome-msg" id="mainTitle">Marat&oacute;n Test Driven Development</div>
    <div class="dh-description">XI Seminario Internacional de Ciencias de la Computaci&oacute;n</div>
</div>
    <home></home>
<div class="col-sm-12 text-center">
    <img class="dh-logo" ng-src="./images/logo.png" src="assets/images/tns.png" alt="Universidad de Medellín">
    <img class="dh-logo" ng-src="./images/logo.png" src="assets/images/udem.jpeg" alt="Universidad de Medellín">
</div>
