<div *ngIf="showSpinner" class="loader">
  <app-fulfilling-bouncing-circle-spinner
    animation-duration="4000"
    size="150"
    color="#551572">
  </app-fulfilling-bouncing-circle-spinner>    
</div>
<div class="container container-tns">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <input type="text" class="input-tns" id="user" formControlName="user" placeholder="Ingrese un nombre">
      </div>
    <div class="input-group">
      <div class="custom-file">
        <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="file" aria-describedby="id">
        <label class="custom-file-label" for="file">{{fileInput}}</label>
      </div>
    </div>      
        <div class="form-group form-group-tns">
          <button class="btn primary-button" type="button" id="btn1" (click)="onRegister()">Registrar</button>
          <button class="btn secondary-button" type="button" id="btn2" (click)="onCompare()">Comparar</button>
        </div>
    
  </form>
</div>
